<div id='login_modal' class="modal">
  <form action='/user/login' method='post' class='user_form'>
    <input type="text" placeholder="Username" name='username'><br>
    <input type="password" placeholder="Password"  name='password'><br>
    <input type="submit" value="Log In!">
  </form>
</div>
