<div id='signup_modal' class="modal">
  <form action='/user' method='post' class='signup_form'>
    <input type="text" placeholder="Username" name="user[username]">
    <input type="password" placeholder="Password" name="user[password]">
    <input type="submit" value="Signup">
  </form>
</div>
