<div class="container">
  <h1>WELCOME TO JAVASCRIPT ROCKS!</h1><br>

  <p>This is a practice project using Javascript and Jquery to try and make a site more interactive and on only one page!</p>
  <p>Your mission is to make a Trello Board (a glorified todo app) that is all on one page using Javascript. The database has already been set up for you so have a look and familiarize yourself with it. If you have any questions or suggestions for future improvements let me know at: nzeplowitz@gmail.com.</p>
</div>
